[package]
name = "llms-from-scratch-rs"
description = "Rust (candle) code for Build a LLM From Scratch by Sebastian Raschka"
version = "0.1.0-a2"
edition = "2021"
repository = "https://github.com/nerdai/llms-from-scratch-rs"
authors = ["Val Andrei Fajardo <andrei@nerdai.io>"]
keywords = ["machine-learning", "llms", "gpt"]
categories = ["science"]
license = "MIT"

exclude = [
    "data/*",
]

[dependencies]
anyhow = "1.0.94"
bytes = "1.9.0"
candle-core = { git = "https://github.com/huggingface/candle.git", version = "0.7.2" }
candle-datasets = { git = "https://github.com/huggingface/candle.git", version = "0.7.2" }
candle-nn = { git = "https://github.com/huggingface/candle.git", version = "0.7.2" }
clap = { version = "4.5.23", features = ["derive"] }
comfy-table = "7.1.3"
fancy-regex = "0.14.0"
hf-hub = "0.3.2"
itertools = "0.13.0"
phf = { version = "0.11.2", features = ["macros"] }
polars = { version = "0.45.1", features = ["csv", "lazy", "parquet"] }
rand = "0.8.5"
reqwest = { version = "0.12.9", features = ["blocking", "json"] }
rstest = "0.23.0"
tiktoken-rs = "0.6.0"
tokenizers = "0.21.0"
zip = "2.2.2"

[features]
cuda = ["candle-core/cuda", "candle-nn/cuda"]
