[package]
name = "llms-from-scratch-rs"
version = "0.1.0-a0"
edition = "2021"
repository = "https://github.com/nerdai/llms-from-scratch-rs"
author = "Val Andrei Fajardo <andrei@nerdai.io>"
keywords = ["machine-learning", "llms", "gpt"]
categories = ["science"]
license = "MIT"

[dependencies]
anyhow = "1.0.94"
candle-core = { git = "https://github.com/huggingface/candle.git", version = "0.7.2" }
candle-datasets = { git = "https://github.com/huggingface/candle.git", version = "0.7.2" }
candle-nn = { git = "https://github.com/huggingface/candle.git", version = "0.7.2" }
clap = { version = "4.5.23", features = ["derive"] }
comfy-table = "7.1.3"
fancy-regex = "0.14.0"
hf-hub = "0.3.2"
itertools = "0.13.0"
phf = { version = "0.11.2", features = ["macros"] }
rand = "0.8.5"
rstest = "0.23.0"
tiktoken-rs = "0.6.0"
tokenizers = "0.21.0"

[features]
cuda = ["candle-core/cuda", "candle-nn/cuda"]
